/*-----------------------------------------------------------------------HEADER-----------------------------------------------------------------------*/
body{
    background-color:  #fffaf2;
}
header{
    background-image: url("images/headerimage.jpg");
    background-size: cover;
    padding-bottom: 10%;
}

.fa-bars{
    padding-top: 50%;
    font-size: 200%;
}

.hamburger-and-logo{
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.logo{
    width: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hamburger{
    font-size: 20px;
}

.frontheader{
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
}

.frontmedium{
    font-style: italic;
    font-size: 200%;
    margin: 0;
}

.frontlarge{
    font-weight: bold;
    font-size: 350%;
    line-height: 1;
    margin-bottom: 2%;
}

.frontsmall{
    font-size: 120%;
}

.contactbutton {
    background-color: Transparent;
    color: white;
    border-color: orange;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

/*-----------------------------------------------------------------------AANBIEDINGEN-----------------------------------------------------------------------*/
#aanbiedingen{
    position: relative;
    background-color: transparent;
    padding-left: 9%;
    padding-right: 8%;
    top: -130px;
    font-weight: bold;
    color: white;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.aanbieding{
    display: inline-block;
    width: 33%;
    height: 200px;
    padding-left: 2%;
    padding-right: 2%;
}

.aanbieding1{
    background-image: url("images/aanbieding.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5px;
    position: static;
}

.aanbieding2{
    background-image: url("images/distillaat.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5px;
    position: static;
}

.aanbieding3{
    background-image: url("images/wijnvdm.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 5px;
    position: static;
}

/*-----------------------------------------------------------------------ONTDEK-----------------------------------------------------------------------*/
#ontdek{
    background-color: #fffaf2;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 1%;
    color: #10213f;
}

.ontdekhead{
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 150%;
}

.item{
    height: 130px;
    width: 200px;
    padding-bottom: 5%;
}

.box-shadow{
    box-shadow: 10px 5px 5px rgba(169, 169, 169, 1);
}
.box-shadow2{
    box-shadow: 10px 5px 5px rgba(169, 169, 169, 0.5);
}

.ontdekimg{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    padding: 5%;
    padding-bottom: 0;
    background-origin: content-box;
    
}

.ontdekimg1{
    background-image: url("images/bottles.png");
}
.ontdekimg2{
    background-image: url("images/whiskey.png");
}
.ontdekimg3{
    background-image: url("images/port.png");
}
.ontdekimg4{
    background-image: url("images/specials.png");
}
.ontdekimg5{
    background-image: url("images/storesmall.png");
    padding: 0;
}

.item p{
    font-size: 130%;
    height: 20%;
    color: #8c6c45;
    display: flex;
    justify-content: center;
}

.item p i{
    font-size: 50%;
    color: #10213f;
    padding-left: 10%;
    padding-top: 5%;
}

.item a:hover{
    text-decoration: none;
}

.owl-carousel .owl-item {
    width: 220px;
}

.owl-carousel.owl-loaded {
    padding-left: 5%;
}

.owl-stage, .owl-stage-outer{
    height: 250px;
}

/*-----------------------------------------------------------------------OVER-----------------------------------------------------------------------*/
#over{
    background-color: #10213f;
}


.overtext h2{
    padding-top: 10%;
    padding-bottom: 5%;
    color: #8c6c45;
    font-style: italic;
}

article {
    color: white;
    font-size: 90%;
}

.leesmeerbutton {
    background-color: Transparent;
    color: white;
    border-color: #8c6c45;
    border-radius: 5px;
    margin-top: 3%;
    padding: 0.8%;
    margin-bottom: 4%;
}

.pelkimg{
    max-width:130%;
    max-height:130%;
    text-align: center;
    padding-left: 40%;
}

/*-----------------------------------------------------------------------FOOTER-----------------------------------------------------------------------*/
.pelkmap{
    width: 100vw;
}

.footerinfo{
    background-color: #10213f;
    padding-top: 3%;
    text-align: center;
    color: white;
}

.footer-logo{
    width: 12%;
    padding-bottom: 3%;
}

.footer-links a{
    padding-left: 0.7%;
    padding-right: 0.7%;
}

.whitelink{
    color: white;
    font-style: normal;
}

.boldlink{
    color: #8c6c45;
    text-transform: uppercase;
    font-weight: bold;
}

.thin{
    color: #8c6c45;
    font-style: italic;
    padding-left: 0.7%;
    padding-right: 0.7%;
    font-size: 90%;
}

.whitelink:hover{
    color: rgba(255,255,255, 0.7);
}

.boldlink:hover{
   color: rgba(140,108,69, 0.7);
}

.thin:hover{
    color: inherit;
}

.footer-contact{
    padding-bottom: 1%;
}

.footer-statements{
    font-size: 80%;
}

.footer-statements a{
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.footer-copyright{
    font-size: 70%;
    padding-bottom: 2%;
    margin-bottom: 0;
}